@font-face {
    font-family: 'OpenSans' ;
    src: url(../font/static/OpenSans-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'OpenSans' ;
    src: url(../font/static/OpenSans-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'sira' ;
    src: url(../font/SairaStencilOne-Regular.ttf);
    font-weight: 400;
}